---
sitemap: false
---

@charset "utf-8";
@import "so-simple";

.embed-container {
  margin-bottom: 1em;
}

article p {
  margin-bottom: 1rem;
  text-align: justify;
}

.page-content {
  text-align: justify;
}

.e-content a {
  font-weight: bold;
}

.e-content a:hover {
  background-color: lightsalmon;
}

.intro-header {
  margin-bottom: 2rem;
}

.emoji {
  vertical-align: sub;
}

.masthead {
  margin-bottom: 2em;
}

.entry-title, .page-title {
  font-style: normal;
  text-align: left;
}

.entry-meta .entry-date + .entry-category::before {
    content: "\2022";
    padding: 0 0.5em;
    font-family: "Lora", serif;
    font-style: italic;
    white-space: nowrap;
}
