---
sitemap: false
---

@charset "utf-8";
@import "so-simple";

.embed-container {
  margin-bottom: 1em;
}

p, h2 {
  margin-bottom: 1rem;
}

.intro-header {
  margin-bottom: 2rem;
}

.emoji {
  vertical-align: text-top;
}
